<section class="section page has-background-grey-dark">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <h2 class="title has-text-white-ter has-text-centered">About this site</h2>

        <p class="is-size-6 has-text-white-ter">
          Hi, my name is Chris, and I'm the creator of this site! 
        </p>
        <br>
        <p class="is-size-6 has-text-white-ter">
          I built this as part of the open source full-stack web curriculum over at The Odin Project. You can read more about this specific assignment <%= link_to "here", "https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/final-project" %>.
        </p>
        <br/>
        <p class="is-size-6 has-text-white-ter">
          I don't make any money off of this site - I just made it to learn (and because I had a great time playing a particular video game, heh.) 
        </p>
        <br>
        <p class="is-size-6 has-text-white-ter">
          You can see the source code for this site and for
          my other projects on my <%= link_to "GitHub", "https://github.com/ubercj/hadesnet" %>.
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="footer has-background-grey-dark pb-2">
  <div class="content">
    <%= link_to "Privacy Policy", privacy_policy_path, class: "is-size-7" %>
  </div>
</footer>