<h1>You have entered the House of Hades</h1>

<p>
  Hey there, <%= @name %>! I've got orders from the boss to take you on a one way trip to the underworld, so here we go.
</p>

<p>
  The only thing I hate more than waiting is making <i>other</i> people wait. So just click on <a href="<%= @url %>">this link</a> for express delivery to your feed.
</p>

<p>
  Anyways, wish I could stay, but I've got places to be. Enjoy your eternal stay, and see you around!
</p>

<p>Later,</p>

<h4>Hermes</h4>
