<section class="section has-background-grey-dark has-text-white-ter">
  <h1 class="title has-text-danger-light"><%= @user.name %>'s Profile</h1>

  <div class="block">
    <%= image_tag user_profile_pic(@user, 400), class: "is-rounded" %>
  </div>
  <div class="block">
  <%= link_to "Account Settings", edit_user_registration_path, class: "button is-medium is-danger" %>
  </div>
  
  <%= render "friendships/friends", user: @user %>
</section>