<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">

        <h1 class="title is-4 has-text-white-ter has-text-centered">Friends</h1>

        <% @user.friends.each do |friend| %>
          <div class="block">
            <div class="block">
              <p class="image is-64x64">
                <%= image_tag user_profile_pic(friend), class: "is-rounded" %>
              </p>
            </div>
            <div class="block">
              <strong class="has-text-white-ter"><%= friend.name %></strong>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
