<h1>Friends</h1>

<!-- <% Friendship.with_user(@user).is_accepted.each do |friendship| %>
  <div>
    <% if friendship.sender == current_user %>
      <%= friendship.receiver.name %>
    <% else %>
      <%= friendship.sender.name %>
    <% end %>
  </div>
<% end %> -->

<% @user.friends.each do |friend| %>
  <div>
    <%= image_tag user_profile_pic(friend) %>
    <%= friend.name %>
  </div>
<% end %>