<h1>Friend Requests</h1>

<% @pending_requests.each do |request| %>
  <% unless request.accepted %>
    <p><%= request.sender.name %> would like to be your friend.</p>
    <%= link_to "Accept", friendship_path(request), method: :patch %>
    <%= link_to "Decline", friendship_path(request), method: :delete %>
  <% end %>
<% end %>