<div class="section has-background-grey-dark pt-4 pb-0">
  <p class="title is-5 has-text-white-ter has-text-centered">What do you have to say?</p>
  <div class="columns is-centered">
    <div class="column is-8">
      <%= simple_form_for @post do |f| %>
        <div class="field">
          <div class="control">
            <%= f.input :body, label: false, wrapper: false, input_html: { class: "textarea" }, label_html: { class: "label" }, autofocus: true %>
          </div>
        </div>

        <div class="block is-flex is-justify-content-space-between">
          <div class="field">
            <label class="label has-text-white-ter">Add a photo (optional)</label>
            <div class="control">
              <%= f.file_field :photo %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, class: "button is-medium is-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
